<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="css/images/favicon64.png">
    <link rel="stylesheet" href="{{ url_for('static', path='css/register_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap" rel="stylesheet">
    <title>C# Study</title>
</head>

<body>
    <main>
        <form class="card" id = "register-form" method="post">
            <h2>Регистрация</h2>
            <div class="email_input_block">
                <h3>Email</h3>
                <input id="email" name="email" type="email" value="{{ email if email else '' }}" required>
                <div class="field-message"></div>
            </div>
            <div class="password_input_block">
                <h3>Пароль</h3>
                <input id="password1" name="password1" type="password" required minlength="6">
                <div class="field-message"></div>
            </div>
<div class="password_input_block">
    <h3>Подтверждение пароля</h3>
    <input id="password2" name="password2" type="password" required minlength="6">
    <div class="field-message">
        <h5 id="password-error">Пароли не совпадают</h5>
    </div>
</div>
            <button class="form_btn" type="submit">Создать аккаунт</button>
            <div class="subtext">
                <h5>Уже есть аккаунт?</h5>
                <a href="/auth/login_page">Войти</a>
            </div>
        </form>
        <script src="{{ url_for('static', path='js/auth.js') }}"></script>
    </main>
</body>