<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', path='images/favicon64.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', path='css/theory_style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;600;700&display=swap" rel="stylesheet">
    <title>C# Study</title>
</head>

<body>
    <header class="topbar">
        <div class="topbar_leftside">
            <div>
                <img class="logo_img" src="{{ url_for('static', path='images/favicon1.png') }}" alt="">
            </div>
            <div>
                <h3 class="logo_text">C# Study</h3>
            </div>
        </div>

        <div class="topbar_rightside">
            {% if user %}
            <span>{{user.email}}</span>
            <span>XP: 120</span>
            {% else %}
            <span>Кролик</span>
            <span>XP: 120</span>
            {% endif %}
        </div>
    </header>

    <main class="layout">
        <aside class="sidebar">
            <h3 class="sidebar_title">Темы курса</h3>

            <nav class="nav">
                <ul class="nav_list">
                    <li class="nav_item">
                        <a href="/topics/{{ topic.id }}" class="nav_topic_button_link">
    <button class="nav_topic">{{ topic.title }}</button>
</a>
                        <ul class="nav__sublist">
                             {% for task in tasks %} 
                            <li><a class="nav_link nav_link--sub is-active" href="/tasks/{{ task.id }}">{{ task.title }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>

        <section class="content">
            <div class="content_card">
                <h1>{{ topic.title }}</h1>

                <p>
                    {{ topic.description }}
                </p>

                <pre><code>
  if (x > 10)
  {
      Console.WriteLine("Hello");
  }
        </code></pre>

                <button class="btn">
                    Перейти к заданию
                </button>
            </div>
        </section>
    </main>
</body>